
.DS_Store        # macOS
Thumbs.db        # Windows
desktop.ini      # Windows
.Trash-*         # Linux

.idea/           # JetBrains (CLion, IntelliJ, etc.)
.vscode/         # Visual Studio Code
*.suo            # Visual Studio
*.user           # Visual Studio
*.userosscache   # Visual Studio
*.sln            # Visual Studio

build/           # Director de build
dist/            # Director de distribuție
*.exe            # Executabile
*.dll            # Librării dinamic
*.so             # Librării shared object
*.dylib          # Librării dinamice pe macOS
*.bin            # Fișiere binare
*.log            # Fișiere de log

__pycache__/     # Cache Python
*.py[cod]        # Fișierele compilate Python
*.egg-info/      # Fișiere egg-info

.env             # Fișiere de mediu
config.json      # Configurație locală
secrets.json     # Fișiere sensibile
*.key            # Chei private

node_modules/    # Pachete npm
*.lock           # Fișiere lock, de exemplu yarn.lock, package-lock.json

*.bak            # Fișiere backup
*.swp            # Fișiere swap

*.test.js        # Fișiere de test
